* {
    box-sizing: border-box;
  }
body{
    background-color: #282c2f;
}
.navbar{
    background-color:  #DCE1E3;
}
.navbar-brand{
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.br {
    color: #DE354C;
    padding-left: 10px;
  }
  .navbar-toggler{
    background-color:#DE354C;
    color: white;
}
#actives{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#actives:hover{
    color: #DE354C;
}
.con{
    color:#DE354C;
    text-align: right;
}
#active{
    color: #3C1874;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#gits{
    border-color: #3C1874;
    color: #DE354C;
}
#gits:hover{
    border-color: #3C1874;
    background-color: #3C1874;
}
/* sources section */
.sources{
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sources{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.section-header{
    font-size: 16px;
	text-align: left;
	font-family: 'Noto Sans SC', sans-serif;
	color: #ffde22;
	font-weight: 700;
	text-decoration: none;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.carousel-control-prev-icon{
    background-color: black;
    color: red;
}
.icos{
    color: #ffde22;
    padding-top: 20px;
}
#sCard{
    background: transparent;
    box-shadow: 0 4px 5px 0 #626768;
    transition: 0.3s;
	border-radius: 10px;
    border: 2px solid white;

}
#sCard:hover{
    background: transparent;
    box-shadow: none;
    border-radius: 10px;
    border: 2px solid #3C1874;
}
.card-title{
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
	color: #DE354C;
    text-align: left;
}
.card-text{
    color: white;
	padding-bottom: 10px;
    text-align:left;
    font-size: 12px;
}
#vw{
    background-color: #DCE1E3;
    border-color: #3C1874;
    color: #DE354C;
}
#vw:hover{
    background-color: #3C1874;
    border-color: #3C1874;
    color:#DCE1E3;
}
.cat{
    color: #DE354C;
}
#arrow3 {
	border-radius: 50%;
	margin-left: 80%;
	color: red;
	background-color: white;
	
}
#gallery {
    background:transparent;
    transition: 00.3s;
    margin-bottom: 10px;
    border: none;
    overflow: hidden;
    position: relative;
  }
  
/* .myImage:hover {
    border: 1px solid #777;
  } */
.myImage{
    /* border: 1px solid #ccc; */
    height: 200px;
}
.img-hover-zoom {
    width: 100%;
    height: auto;
    transition: all 0.3s;
    height: 100%;
    display: block;
    transform: scale(1);
  }
#artsp{
    padding: 15px;
    text-align: center;
    color: #3C1874;
}
  
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover{
    transform: scale(1.1);
  }
#arts h5{
    text-align:left;
    color: black;
    font-family: 'Acme', sans-serif;
    text-transform:capitalize;
    font-size: 15px;
    font-weight: 700;
}

.account{
      float: left;
  }
  .myArt{
      background-image: linear-gradient(to right top, #eafaf1, #ebf9f3, #edf9f5, #eff8f6, #f1f7f6, #f1f7f6, #f1f6f6, #f1f6f6, #eff6f6, #ecf6f5, #eaf6f4, #e8f6f3);
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .section-header1{
    font-size: 16px;
	text-align: left;
	font-family: 'Noto Sans SC', sans-serif;
	color: #3C1874;
	font-weight: 700;
	text-decoration: none;
    padding-bottom: 20px;
}
.ads{
    position:relative;
    width: 100%;
}
.socials1{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid white;
    color: #4267B2;
}
.socials1:hover{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #DE354C;
    color: #DE354C;
}
.socials2{
    margin-top: 20px;
    padding: 10px;
    color: #00acee;
}