{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            The <span class="br">{{context.heading}}</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="actives">Advertise<span class="con"> Here</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="actives">Contact <span class="con">Us</span></a>
              </li>
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Search Here...">
                <button class="btn btn-outline-success my-2 my-sm-0" id="gits" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
{% endblock %}
{% block content %}
<div>
    
        <input type="text" name="article_query" placeholder="Search for an article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    

</div>
    <div>
        <h1></h1>
        <ul>
            
        </ul>
    </div>
    <div>
            <ul>
                {% for articles in omosh %}
                    <a href="/articles/{{articles.id}}">{{ articles.author}}</a>
                {% endfor %}
            </ul>
         </div>
{% endblock %}
{% block sources %}
<section class="sources">
    <div class="container text-center" id="sources">
        <h3 class="section-header">News Sources <i class="fas fa-level-down-alt"></i></h3>
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card h-100" id="sCard">
                                <div class="icos">
                                    <i id= "Three" class="far fa-newspaper fa-2x"></i>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Hypertext Assassin</h5>
                                  <p class="card-text">We have improved your github Search Experience!! When others are searching on ***HUB, We are on Github</p>
                                  <p class="card-text"><small class="text-muted">News category: <span class="cat">Technology</span> </small></p>
                                  <a href="https://enockabere.github.io/Git-Search/sidebar">
                                    <button id="vw" class="btn btn-primary" type="button">
                                        View Source...
                                      </button>
                                  </a>
                                </div>
                              </div>
                        </div>
                    </div>
                    {{ macro.displayNewsSources(sources)}}
                <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                    <span id="controller" class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                    <span id="controller" class="carousel-control-next-icon badge-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}