{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block article %}
<section class="article">
  <div class="container">
    <div class="row" id="wraps">
      {% for articles in omosh %}
      <div class="col-md-6" id="area">
        <div class="card card-nav-tabs" id="shows">
          <div class="card-header card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">rate_review</i>
                      {{articles.author}}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">description</i>
                      More...
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{articles.url}}" target="blank">
                      <i class="material-icons">link</i>
                      View Source
                    </a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="tab-content text-center">
              <div class="tab-pane active" id="profile">
                <div class="myImage">
                  <img src="{{articles.urlToImage}}" class="img-hover-zoom" alt="news image">
                </div>
                <div class="heads">
                  <p>
                    {{articles.description}}
                  </p>
                </div>
                <div id="textbox" style="clear: both;">
                  <p class="alignleft"><i class="far fa-hand-point-right"></i><small class="text-muted">
                      {{articles.title}}</small></p>
                  <p class="alignright"><i class="far fa-clock"></i><small class="text-muted">
                      {{articles.publishedAt}}</small></p>
                </div>
              </div>
              <div class="tab-pane" id="messages">
                <p>
                  {{articles.content}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
{% block sources %}
<section class="sources">
  <div class="container text-center" id="sources">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-header">News Sources <i class="fas fa-level-down-alt"></i></h3>
      </div>
    </div>
    <div class="row mx-auto my-auto">
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-3">
              <div class="card h-100" id="sCard">
                <div class="icos">
                  <i id="Three" class="far fa-newspaper fa-2x"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Hypertext Assassin</h5>
                  <p class="card-text">We have improved your github Search Experience!! When others are searching on
                    ***HUB, We are on Github</p>
                  <p class="card-text"><small class="text-muted">News category: <span class="cat">Technology</span>
                    </small></p>
                  <a href="https://enockabere.github.io/Git-Search/sidebar">
                    <button id="vw" class="btn btn-primary" type="button">
                      View Source...
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{ macro.displayNewsSources(sources)}}
          <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
            <span id="controller" class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
              aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
            <span id="controller" class="carousel-control-next-icon badge-dark border border-dark rounded-circle"
              aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</section>
{% endblock %}